.cont {
    width: 1170px;
    margin: auto;
 /*   border: 2px solid #ebebeb;*/
    padding: auto;
}

.sign {
    font-size: 14px;
    color: #0099ae;
    border: 1px solid #0099ae;
    padding: 10px 25px;
    width: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.sign:hover {
    outline: none;
    background: 0 0;
    box-shadow: none;
    color: #01707f;
    border-color: #01707f;
}

.text-l {
    float: left;
    width: 41%;
    padding: 82px 0px;
}

.parametrs {
    align-items: center;
    width: 33%;
    text-align: center;
}

.parametrs img {
    height: 79px;
}

.parametrs-menu {
    float: left;
}

.slider {
    background-image: url(../img/slider-bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    /*opacity: 0.5;  прозрачность*/
}
/*
.slider:hover{
    opacity: 1; /*видимость при наведении
}
*/

.menu {
    vertical-align: top;
    padding: 20px 0px;
    width: 80%;
    text-align: right;
}

ul.nav li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

ul.nav {
    margin-block-start: 0px;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

.inline-b{
    display: inline-block;
}

.nav a:link{color: black;}
.nav a:visited{color: black;}
.nav a:active{color: blue;}
.nav a:hover{text-shadow: 0px 0px 10px black;}
.nav a{text-decoration: none;}